In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("hr.db")
con

In [3]:
cur = con.cursor()
cur

In [6]:
res = cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
res.fetchall()

[('employee',)]

In [10]:
pd.read_sql("""SELECT  EmployeeNumber, Department, Age, Gender, Attrition
            FROM employee
            WHERE Department = 'Sales'""",con)

     EmployeeNumber Department  Age  Gender Attrition
0                 1      Sales   41  Female       Yes
1                23      Sales   53  Female        No
2                27      Sales   36    Male       Yes
3                35      Sales   42    Male        No
4                38      Sales   46  Female        No
..              ...        ...  ...     ...       ...
441            2046      Sales   45  Female      None
442            2055      Sales   50    Male      None
443            2056      Sales   39  Female      None
444            2060      Sales   26  Female      None
445            2065      Sales   49    Male        No

[446 rows x 5 columns]

In [23]:
res = cur.execute("""SELECT  EmployeeNumber, Department, Age, Gender, Attrition
                  FROM employee
                  WHERE Department = 'Sales'""")
data=res.fetchall()

res = cur.execute("PRAGMA table_info(employee)")

col_names = ["EmployeeNumber", "Department", "Age", "Gender", "Attrition"]
sales = pd.DataFrame(data, columns=col_names)
sales # 2

     EmployeeNumber Department  Age  Gender Attrition
0                 1      Sales   41  Female       Yes
1                23      Sales   53  Female        No
2                27      Sales   36    Male       Yes
3                35      Sales   42    Male        No
4                38      Sales   46  Female        No
..              ...        ...  ...     ...       ...
441            2046      Sales   45  Female      None
442            2055      Sales   50    Male      None
443            2056      Sales   39  Female      None
444            2060      Sales   26  Female      None
445            2065      Sales   49    Male        No

[446 rows x 5 columns]

In [56]:
res = cur.execute("""SELECT  EmployeeNumber, EducationField, Age, Gender, Attrition
                  FROM employee
                  WHERE EducationField = 'Life Sciences'""")
data=res.fetchall()

col_names =["EmployeeNumber", "EducationField", "Age", "Gender", "Attrition"]

field = pd.DataFrame(data, columns=col_names)
field # 3

     EmployeeNumber EducationField  Age  Gender Attrition
0                 1  Life Sciences   41  Female       Yes
1                 2  Life Sciences   49    Male        No
2                 5  Life Sciences   33  Female        No
3                 8  Life Sciences   32    Male        No
4                11  Life Sciences   30    Male        No
..              ...            ...  ...     ...       ...
601            2046  Life Sciences   45  Female      None
602            2048  Life Sciences   40    Male      None
603            2049  Life Sciences   35    Male      None
604            2052  Life Sciences   35  Female      None
605            2064  Life Sciences   27    Male        No

[606 rows x 5 columns]

In [58]:
cur.execute("CREATE TABLE sales(EmployeeNumber,Department, Age, Gender, Attrition)")
cur.executemany("INSERT INTO sales VALUES(?,?,?,?,?)", sales.itertuples(index=False, name=None))
# cur.commit()

In [63]:
cur.execute("SELECT * FROM field").fetchall()

[(1, 'Life Sciences', 41, 'Female', 'Yes'),
 (2, 'Life Sciences', 49, 'Male', 'No'),
 (5, 'Life Sciences', 33, 'Female', 'No'),
 (8, 'Life Sciences', 32, 'Male', 'No'),
 (11, 'Life Sciences', 30, 'Male', 'No'),
 (12, 'Life Sciences', 38, 'Male', 'No'),
 (15, 'Life Sciences', 29, 'Female', 'No'),
 (16, 'Life Sciences', 31, 'Male', 'No'),
 (19, 'Life Sciences', 28, 'Male', 'Yes'),
 (20, 'Life Sciences', 29, 'Female', 'No'),
 (21, 'Life Sciences', 32, 'Male', 'No'),
 (23, 'Life Sciences', 53, 'Female', 'No'),
 (24, 'Life Sciences', 38, 'Male', 'No'),
 (27, 'Life Sciences', 36, 'Male', 'Yes'),
 (28, 'Life Sciences', 34, 'Female', 'No'),
 (30, 'Life Sciences', 21, 'Male', 'No'),
 (33, 'Life Sciences', 32, 'Female', 'Yes'),
 (51, 'Life Sciences', 36, 'Female', 'No'),
 (52, 'Life Sciences', 33, 'Female', 'No'),
 (54, 'Life Sciences', 27, 'Female', 'No'),
 (55, 'Life Sciences', 26, 'Male', 'Yes'),
 (56, 'Life Sciences', 27, 'Male', 'No'),
 (61, 'Life Sciences', 37, 'Male', 'No'),
 (63, 'Life Sciences', 35, 'Male', 'No'),
 (64, 'Life Sciences', 48, 'Male', 'Yes'),
 (73, 'Life Sciences', 33, 'Female', 'No'),
 (74, 'Life Sciences', 35, 'Male', 'No'),
 (76, 'Life Sciences', 31, 'Male', 'No'),
 (77, 'Life Sciences', 37, 'Male', 'No'),
 (79, 'Life Sciences', 38, 'Female', 'No'),
 (81, 'Life Sciences', 59, 'Female', 'No'),
 (85, 'Life Sciences', 36, 'Male', 'No'),
 (86, 'Life Sciences', 45, 'Male', 'No'),
 (91, 'Life Sciences', 59, 'Female', 'No'),
 (94, 'Life Sciences', 29, 'Male', 'No'),
 (96, 'Life Sciences', 32, 'Male', 'No'),
 (97, 'Life Sciences', 36, 'Female', 'No'),
 (98, 'Life Sciences', 31, 'Female', 'No'),
 (104, 'Life Sciences', 30, 'Male', 'No'),
 (106, 'Life Sciences', 55, 'Male', 'No'),
 (112, 'Life Sciences', 56, 'Male', 'No'),
 (116, 'Life Sciences', 51, 'Male', 'No'),
 (117, 'Life Sciences', 30, 'Male', 'No'),
 (119, 'Life Sciences', 40, 'Male', 'No'),
 (134, 'Life Sciences', 32, 'Male', 'No'),
 (137, 'Life Sciences', 20, 'Female', 'Yes'),
 (139, 'Life Sciences', 37, 'Male', 'No'),
 (141, 'Life Sciences', 50, 'Female', 'No'),
 (147, 'Life Sciences', 34, 'Male', 'Yes'),
 (150, 'Life Sciences', 24, 'Male', 'No'),
 (151, 'Life Sciences', 34, 'Female', 'No'),
 (152, 'Life Sciences', 37, 'Male', 'No'),
 (155, 'Life Sciences', 36, 'Female', 'No'),
 (158, 'Life Sciences', 43, 'Male', 'No'),
 (159, 'Life Sciences', 30, 'Male', 'No'),
 (161, 'Life Sciences', 56, 'Female', 'Yes'),
 (162, 'Life Sciences', 51, 'Male', 'No'),
 (163, 'Life Sciences', 31, 'Male', 'Yes'),
 (175, 'Life Sciences', 31, 'Female', 'Yes'),
 (176, 'Life Sciences', 41, 'Male', 'No'),
 (177, 'Life Sciences', 26, 'Female', 'No'),
 (179, 'Life Sciences', 51, 'Male', 'Yes'),
 (182, 'Life Sciences', 39, 'Female', 'No'),
 (183, 'Life Sciences', 25, 'Male', 'No'),
 (194, 'Life Sciences', 30, 'Female', 'No'),
 (199, 'Life Sciences', 41, 'Male', 'No'),
 (200, 'Life Sciences', 41, 'Male', 'No'),
 (206, 'Life Sciences', 45, 'Male', 'No'),
 (223, 'Life Sciences', 57, 'Male', 'No'),
 (226, 'Life Sciences', 50, 'Female', 'No'),
 (227, 'Life Sciences', 41, 'Male', 'No'),
 (228, 'Life Sciences', 30, 'Female', 'No'),
 (230, 'Life Sciences', 38, 'Female', 'No'),
 (231, 'Life Sciences', 32, 'Male', 'No'),
 (240, 'Life Sciences', 45, 'Female', 'No'),
 (241, 'Life Sciences', 56, 'Female', 'No'),
 (242, 'Life Sciences', 33, 'Male', 'No'),
 (243, 'Life Sciences', 19, 'Male', 'Yes'),
 (245, 'Life Sciences', 38, 'Female', 'No'),
 (256, 'Life Sciences', 34, 'Male', 'No'),
 (259, 'Life Sciences', 52, 'Male', 'No'),
 (261, 'Life Sciences', 35, 'Male', 'Yes'),
 (267, 'Life Sciences', 37, 'Male', 'No'),
 (271, 'Life Sciences', 38, 'Male', 'No'),
 (275, 'Life Sciences', 49, 'Male', 'No'),
 (284, 'Life Sciences', 22, 'Male', 'No'),
 (287, 'Life Sciences', 40, 'Male', 'No'),
 (292, 'Life Sciences', 30, 'Male', 'No'),
 (293, 'Life Sciences', 27, 'Female', 'No'),
 (296, 'Life Sciences', 51, 'Male', 'No'),
 (298, 'Life Sciences', 41, 'Female', 'No'),
 (304, 'Life Sciences', 36, 'Male', 'No'),
 (307, 'Life Sciences', 38, 'Male', 'No'),
 (309, 'Life Sciences', 59, 'Male', 'No'),
 (316, 'Life Sciences', 52, 'Female', 'No'),
 (328, 'Life Sciences', 33, 'Female', 'Yes'),
 (329, 'Life Sciences', 52, 'Male', 'No'),
 (330, 'Life Sciences', 32, 'Female', 'No'),
 (331, 'Life Sciences', 32, 'Male', 'Yes'),
 (334, 'Life Sciences', 41, 'Male', 'No'),
 (338, 'Life Sciences', 33, 'Female', 'No'),
 (339, 'Life Sciences', 34, 'Male', 'No'),
 (341, 'Life Sciences', 45, 'Male', 'No'),
 (346, 'Life Sciences', 29, 'Male', 'No'),
 (347, 'Life Sciences', 42, 'Female', 'No'),
 (350, 'Life Sciences', 25, 'Female', 'No'),
 (353, 'Life Sciences', 51, 'Male', 'No'),
 (359, 'Life Sciences', 32, 'Male', 'No'),
 (361, 'Life Sciences', 38, 'Male', 'No'),
 (364, 'Life Sciences', 28, 'Male', 'Yes'),
 (369, 'Life Sciences', 25, 'Male', 'No'),
 (373, 'Life Sciences', 36, 'Male', 'No'),
 (376, 'Life Sciences', 47, 'Male', 'Yes'),
 (381, 'Life Sciences', 35, 'Female', 'No'),
 (384, 'Life Sciences', 26, 'Female', 'No'),
 (385, 'Life Sciences', 50, 'Male', 'No'),
 (387, 'Life Sciences', 42, 'Male', 'No'),
 (388, 'Life Sciences', 29, 'Male', 'No'),
 (391, 'Life Sciences', 37, 'Female', 'No'),
 (392, 'Life Sciences', 44, 'Male', 'Yes'),
 (393, 'Life Sciences', 38, 'Male', 'No'),
 (395, 'Life Sciences', 28, 'Female', 'No'),
 (396, 'Life Sciences', 49, 'Female', 'No'),
 (405, 'Life Sciences', 18, 'Male', 'Yes'),
 (407, 'Life Sciences', 36, 'Male', 'No'),
 (410, 'Life Sciences', 41, 'Male', 'No'),
 (419, 'Life Sciences', 36, 'Female', 'No'),
 (420, 'Life Sciences', 32, 'Male', 'No'),
 (421, 'Life Sciences', 38, 'Female', 'No'),
 (422, 'Life Sciences', 58, 'Male', 'No'),
 (425, 'Life Sciences', 45, 'Male', 'No'),
 (426, 'Life Sciences', 31, 'Male', 'No'),
 (428, 'Life Sciences', 33, 'Female', 'No'),
 (430, 'Life Sciences', 43, 'Female', 'No'),
 (434, 'Life Sciences', 27, 'Female', 'No'),
 (437, 'Life Sciences', 27, 'Male', 'No'),
 (442, 'Life Sciences', 31, 'Female', 'No'),
 (447, 'Life Sciences', 47, 'Male', 'No'),
 (448, 'Life Sciences', 43, 'Female', 'No'),
 (450, 'Life Sciences', 54, 'Female', 'No'),
 (451, 'Life Sciences', 43, 'Female', 'No'),
 (461, 'Life Sciences', 38, 'Male', 'No'),
 (465, 'Life Sciences', 23, 'Male', 'No'),
 (468, 'Life Sciences', 42, 'Female', 'No'),
 (469, 'Life Sciences', 29, 'Male', 'No'),
 (476, 'Life Sciences', 26, 'Male', 'No'),
 (483, 'Life Sciences', 40, 'Female', 'No'),
 (493, 'Life Sciences', 31, 'Male', None),
 (494, 'Life Sciences', 21, 'Female', None),
 (495, 'Life Sciences', 29, 'Male', None),
 (496, 'Life Sciences', 35, 'Male', None),
 (498, 'Life Sciences', 28, 'Male', None),
 (500, 'Life Sciences', 51, 'Female', None),
 (501, 'Life Sciences', 36, 'Female', None),
 (505, 'Life Sciences', 55, 'Female', None),
 (515, 'Life Sciences', 37, 'Female', None),
 (517, 'Life Sciences', 42, 'Female', None),
 (518, 'Life Sciences', 37, 'Male', None),
 (520, 'Life Sciences', 43, 'Male', 'No'),
 (527, 'Life Sciences', 25, 'Female', 'No'),
 (530, 'Life Sciences', 31, 'Male', 'No'),
 (531, 'Life Sciences', 39, 'Male', 'No'),
 (532, 'Life Sciences', 56, 'Female', 'No'),
 (544, 'Life Sciences', 45, 'Male', 'No'),
 (546, 'Life Sciences', 52, 'Female', 'No'),
 (547, 'Life Sciences', 42, 'Female', 'No'),
 (548, 'Life Sciences', 30, 'Female', 'No'),
 (549, 'Life Sciences', 60, 'Female', 'No'),
 (556, 'Life Sciences', 38, 'Male', 'No'),
 (558, 'Life Sciences', 40, 'Female', 'No'),
 (560, 'Life Sciences', 26, 'Female', 'No'),
 (562, 'Life Sciences', 30, 'Male', 'No'),
 (569, 'Life Sciences', 50, 'Male', 'No'),
 (575, 'Life Sciences', 46, 'Male', 'No'),
 (577, 'Life Sciences', 35, 'Male', 'No'),
 (578, 'Life Sciences', 54, 'Female', 'No'),
 (579, 'Life Sciences', 34, 'Male', 'No'),
 (581, 'Life Sciences', 31, 'Male', 'No'),
 (586, 'Life Sciences', 35, 'Male', 'No'),
 (587, 'Life Sciences', 31, 'Male', 'Yes'),
 (597, 'Life Sciences', 55, 'Female', 'No'),
 (599, 'Life Sciences', 41, 'Male', 'No'),
 (601, 'Life Sciences', 40, 'Female', 'No'),
 (602, 'Life Sciences', 39, 'Female', 'No'),
 (604, 'Life Sciences', 31, 'Male', 'No'),
 (608, 'Life Sciences', 26, 'Female', 'Yes'),
 (613, 'Life Sciences', 31, 'Male', 'No'),
 (621, 'Life Sciences', 34, 'Male', 'No'),
 (625, 'Life Sciences', 41, 'Female', 'No'),
 (635, 'Life Sciences', 37, 'Female', 'No'),
 (638, 'Life Sciences', 49, 'Male', 'No'),
 (647, 'Life Sciences', 24, 'Female', 'Yes'),
 (648, 'Life Sciences', 30, 'Male', 'Yes'),
 (649, 'Life Sciences', 34, 'Male', 'No'),
 (657, 'Life Sciences', 20, 'Female', 'No'),
 (659, 'Life Sciences', 42, 'Female', 'No'),
 (662, 'Life Sciences', 38, 'Female', 'No'),
 (664, 'Life Sciences', 48, 'Female', 'No'),
 (665, 'Life Sciences', 44, 'Female', 'No'),
 (679, 'Life Sciences', 32, 'Female', None),
 (683, 'Life Sciences', 34, 'Male', None),
 (684, 'Life Sciences', 45, 'Female', None),
 (686, 'Life Sciences', 26, 'Female', None),
 (691, 'Life Sciences', 35, 'Male', None),
 (692, 'Life Sciences', 33, 'Male', None),
 (702, 'Life Sciences', 33, 'Male', None),
 (704, 'Life Sciences', 35, 'Male', None),
 (707, 'Life Sciences', 25, 'Male', None),
 (710, 'Life Sciences', 29, 'Male', None),
 (715, 'Life Sciences', 37, 'Male', None),
 (720, 'Life Sciences', 24, 'Female', None),
 (724, 'Life Sciences', 38, 'Female', None),
 (725, 'Life Sciences', 27, 'Female', None),
 (727, 'Life Sciences', 32, 'Female', None),
 (729, 'Life Sciences', 40, 'Male', None),
 (730, 'Life Sciences', 53, 'Male', None),
 (733, 'Life Sciences', 27, 'Male', None),
 (741, 'Life Sciences', 28, 'Female', None),
 (742, 'Life Sciences', 36, 'Female', None),
 (743, 'Life Sciences', 38, 'Female', 'No'),
 (749, 'Life Sciences', 29, 'Male', 'No'),
 (754, 'Life Sciences', 43, 'Male', 'No'),
 (769, 'Life Sciences', 53, 'Male', 'No'),
 (771, 'Life Sciences', 35, 'Female', 'No'),
 (772, 'Life Sciences', 32, 'Male', 'No'),
 (775, 'Life Sciences', 34, 'Female', 'No'),
 (785, 'Life Sciences', 47, 'Female', 'Yes'),
 (789, 'Life Sciences', 36, 'Male', 'No'),
 (792, 'Life Sciences', 26, 'Female', 'No'),
 (797, 'Life Sciences', 34, 'Female', 'No'),
 (802, 'Life Sciences', 37, 'Female', 'No'),
 (803, 'Life Sciences', 38, 'Female', 'No'),
 (805, 'Life Sciences', 35, 'Female', 'No'),
 (806, 'Life Sciences', 30, 'Male', 'No'),
 (808, 'Life Sciences', 34, 'Female', 'No'),
 (809, 'Life Sciences', 42, 'Male', 'No'),
 (811, 'Life Sciences', 23, 'Male', 'Yes'),
 (812, 'Life Sciences', 24, 'Male', 'No'),
 (813, 'Life Sciences', 52, 'Female', 'No'),
 (816, 'Life Sciences', 29, 'Female', 'Yes'),
 (824, 'Life Sciences', 29, 'Male', 'No'),
 (825, 'Life Sciences', 58, 'Male', 'Yes'),
 (826, 'Life Sciences', 35, 'Female', 'No'),
 (827, 'Life Sciences', 42, 'Female', 'No'),
 (830, 'Life Sciences', 32, 'Female', 'No'),
 (834, 'Life Sciences', 45, 'Female', 'No'),
 (836, 'Life Sciences', 42, 'Male', 'No'),
 (837, 'Life Sciences', 38, 'Male', 'No'),
 (838, 'Life Sciences', 34, 'Female', 'No'),
 (843, 'Life Sciences', 43, 'Male', 'No'),
 (857, 'Life Sciences', 36, 'Male', 'No'),
 (859, 'Life Sciences', 32, 'Male', 'No'),
 (861, 'Life Sciences', 30, 'Male', 'No'),
 (872, 'Life Sciences', 22, 'Male', 'No'),
 (874, 'Life Sciences', 44, 'Male', 'No'),
 (878, 'Life Sciences', 36, 'Male', 'No'),
 (880, 'Life Sciences', 35, 'Female', 'No'),
 (881, 'Life Sciences', 35, 'Female', 'Yes'),
 (882, 'Life Sciences', 32, 'Male', 'No'),
 (888, 'Life Sciences', 24, 'Male', 'No'),
 (889, 'Life Sciences', 32, 'Male', 'No'),
 (894, 'Life Sciences', 42, 'Female', 'No'),
 (895, 'Life Sciences', 31, 'Male', 'No'),
 (901, 'Life Sciences', 53, 'Female', 'No'),
 (902, 'Life Sciences', 43, 'Female', 'No'),
 (905, 'Life Sciences', 50, 'Male', 'No'),
 (909, 'Life Sciences', 39, 'Female', 'No'),
 (911, 'Life Sciences', 32, 'Male', 'Yes'),
 (913, 'Life Sciences', 44, 'Male', 'No'),
 (918, 'Life Sciences', 58, 'Male', 'Yes'),
 (920, 'Life Sciences', 43, 'Female', 'No'),
 (924, 'Life Sciences', 36, 'Male', 'No'),
 (925, 'Life Sciences', 47, 'Female', 'No'),
 (926, 'Life Sciences', 22, 'Female', 'Yes'),
 (927, 'Life Sciences', 41, 'Female', 'Yes'),
 (933, 'Life Sciences', 27, 'Female', 'No'),
 (934, 'Life Sciences', 34, 'Male', 'No'),
 (941, 'Life Sciences', 31, 'Male', 'No'),
 (942, 'Life Sciences', 35, 'Female', 'No'),
 (951, 'Life Sciences', 32, 'Female', 'No'),
 (967, 'Life Sciences', 36, 'Male', 'Yes'),
 (969, 'Life Sciences', 33, 'Female', 'No'),
 (970, 'Life Sciences', 37, 'Male', 'Yes'),
 (972, 'Life Sciences', 45, 'Male', 'No'),
 (976, 'Life Sciences', 52, 'Male', 'No'),
 (984, 'Life Sciences', 35, 'Male', 'No'),
 (985, 'Life Sciences', 39, 'Male', 'No'),
 (986, 'Life Sciences', 40, 'Female', 'Yes'),
 (992, 'Life Sciences', 33, 'Male', 'No'),
 (994, 'Life Sciences', 29, 'Female', 'Yes'),
 (995, 'Life Sciences', 33, 'Female', 'No'),
 (1002, 'Life Sciences', 45, 'Male', 'No'),
 (1003, 'Life Sciences', 47, 'Female', 'No'),
 (1004, 'Life Sciences', 30, 'Female', 'Yes'),
 (1005, 'Life Sciences', 50, 'Male', 'No'),
 (1011, 'Life Sciences', 31, 'Female', 'No'),
 (1012, 'Life Sciences', 18, 'Male', 'No'),
 (1015, 'Life Sciences', 30, 'Female', 'No'),
 (1019, 'Life Sciences', 22, 'Male', 'No'),
 (1022, 'Life Sciences', 48, 'Male', 'No'),
 (1024, 'Life Sciences', 48, 'Male', 'No'),
 (1026, 'Life Sciences', 39, 'Female', 'No'),
 (1027, 'Life Sciences', 27, 'Female', 'No'),
 (1030, 'Life Sciences', 50, 'Male', 'No'),
 (1032, 'Life Sciences', 59, 'Female', 'No'),
 (1035, 'Life Sciences', 41, 'Female', 'No'),
 (1036, 'Life Sciences', 38, 'Male', 'No'),
 (1040, 'Life Sciences', 50, 'Female', 'No'),
 (1042, 'Life Sciences', 36, 'Female', 'Yes'),
 (1044, 'Life Sciences', 33, 'Female', 'No'),
 (1045, 'Life Sciences', 45, 'Female', 'No'),
 (1053, 'Life Sciences', 26, 'Male', 'Yes'),
 (1055, 'Life Sciences', 34, 'Female', 'No'),
 (1070, 'Life Sciences', 54, 'Female', None),
 (1079, 'Life Sciences', 21, 'Female', None),
 (1080, 'Life Sciences', 46, 'Female', None),
 (1081, 'Life Sciences', 51, 'Male', None),
 (1088, 'Life Sciences', 38, 'Female', None),
 (1094, 'Life Sciences', 27, 'Male', None),
 (1096, 'Life Sciences', 55, 'Male', None),
 (1099, 'Life Sciences', 33, 'Male', None),
 (1102, 'Life Sciences', 28, 'Male', None),
 (1103, 'Life Sciences', 34, 'Male', None),
 (1105, 'Life Sciences', 37, 'Female', None),
 (1114, 'Life Sciences', 33, 'Female', 'No'),
 (1115, 'Life Sciences', 34, 'Male', 'No'),
 (1117, 'Life Sciences', 45, 'Female', 'No'),
 (1118, 'Life Sciences', 52, 'Male', 'No'),
 (1120, 'Life Sciences', 29, 'Female', 'No'),
 (1126, 'Life Sciences', 43, 'Female', 'No'),
 (1127, 'Life Sciences', 39, 'Male', 'Yes'),
 (1132, 'Life Sciences', 39, 'Male', 'No'),
 (1133, 'Life Sciences', 36, 'Male', 'No'),
 (1135, 'Life Sciences', 31, 'Male', 'No'),
 (1136, 'Life Sciences', 28, 'Male', 'No'),
 (1140, 'Life Sciences', 34, 'Male', 'No'),
 (1143, 'Life Sciences', 29, 'Female', 'No'),
 (1154, 'Life Sciences', 28, 'Male', 'No'),
 (1158, 'Life Sciences', 41, 'Male', 'No'),
 (1162, 'Life Sciences', 27, 'Male', 'No'),
 (1163, 'Life Sciences', 34, 'Female', 'No'),
 (1165, 'Life Sciences', 29, 'Female', 'Yes'),
 (1167, 'Life Sciences', 42, 'Male', 'Yes'),
 (1175, 'Life Sciences', 28, 'Female', 'Yes'),
 (1182, 'Life Sciences', 35, 'Male', 'No'),
 (1190, 'Life Sciences', 32, 'Female', 'No'),
 (1193, 'Life Sciences', 19, 'Male', 'No'),
 (1196, 'Life Sciences', 37, 'Female', 'No'),
 (1198, 'Life Sciences', 20, 'Male', 'No'),
 (1200, 'Life Sciences', 44, 'Male', 'Yes'),
 (1202, 'Life Sciences', 29, 'Female', 'No'),
 (1203, 'Life Sciences', 22, 'Male', 'Yes'),
 (1206, 'Life Sciences', 44, 'Male', 'No'),
 (1210, 'Life Sciences', 41, 'Male', 'Yes'),
 (1211, 'Life Sciences', 30, 'Male', 'No'),
 (1217, 'Life Sciences', 46, 'Male', 'No'),
 (1218, 'Life Sciences', 35, 'Male', 'No'),
 (1219, 'Life Sciences', 24, 'Female', 'Yes'),
 (1221, 'Life Sciences', 36, 'Male', 'No'),
 (1224, 'Life Sciences', 30, 'Male', 'No'),
 (1235, 'Life Sciences', 32, 'Female', 'No'),
 (1240, 'Life Sciences', 25, 'Male', 'No'),
 (1244, 'Life Sciences', 27, 'Male', 'No'),
 (1245, 'Life Sciences', 54, 'Female', 'No'),
 (1246, 'Life Sciences', 44, 'Female', 'No'),
 (1249, 'Life Sciences', 29, 'Female', 'No'),
 (1250, 'Life Sciences', 54, 'Male', 'No'),
 (1254, 'Life Sciences', 59, 'Female', 'No'),
 (1255, 'Life Sciences', 43, 'Male', 'No'),
 (1259, 'Life Sciences', 27, 'Male', 'No'),
 (1260, 'Life Sciences', 29, 'Male', 'No'),
 (1263, 'Life Sciences', 48, 'Male', 'No'),
 (1264, 'Life Sciences', 29, 'Female', 'No'),
 (1269, 'Life Sciences', 19, 'Female', 'No'),
 (1270, 'Life Sciences', 23, 'Male', 'No'),
 (1273, 'Life Sciences', 25, 'Male', 'Yes'),
 (1275, 'Life Sciences', 26, 'Male', 'No'),
 (1279, 'Life Sciences', 21, 'Female', 'Yes'),
 (1282, 'Life Sciences', 51, 'Male', 'No'),
 (1288, 'Life Sciences', 44, 'Male', 'No'),
 (1289, 'Life Sciences', 34, 'Male', 'No'),
 (1291, 'Life Sciences', 35, 'Male', 'No'),
 (1294, 'Life Sciences', 36, 'Female', 'No'),
 (1296, 'Life Sciences', 28, 'Male', 'No'),
 (1308, 'Life Sciences', 58, 'Male', 'No'),
 (1309, 'Life Sciences', 32, 'Male', 'Yes'),
 (1314, 'Life Sciences', 46, 'Female', 'No'),
 (1315, 'Life Sciences', 28, 'Female', 'No'),
 (1317, 'Life Sciences', 50, 'Female', 'No'),
 (1319, 'Life Sciences', 52, 'Male', 'Yes'),
 (1322, 'Life Sciences', 39, 'Male', 'No'),
 (1324, 'Life Sciences', 31, 'Female', 'No'),
 (1331, 'Life Sciences', 31, 'Female', 'Yes'),
 (1333, 'Life Sciences', 44, 'Male', 'Yes'),
 (1334, 'Life Sciences', 42, 'Male', 'No'),
 (1338, 'Life Sciences', 56, 'Male', 'No'),
 (1340, 'Life Sciences', 40, 'Male', 'No'),
 (1344, 'Life Sciences', 34, 'Male', 'No'),
 (1346, 'Life Sciences', 40, 'Male', 'No'),
 (1350, 'Life Sciences', 35, 'Male', 'No'),
 (1352, 'Life Sciences', 51, 'Male', 'No'),
 (1355, 'Life Sciences', 38, 'Female', 'No'),
 (1361, 'Life Sciences', 40, 'Male', 'No'),
 (1363, 'Life Sciences', 48, 'Male', 'No'),
 (1368, 'Life Sciences', 18, 'Female', 'No'),
 (1371, 'Life Sciences', 27, 'Male', 'No'),
 (1373, 'Life Sciences', 56, 'Male', 'No'),
 (1379, 'Life Sciences', 31, 'Female', 'Yes'),
 (1382, 'Life Sciences', 38, 'Male', 'No'),
 (1387, 'Life Sciences', 28, 'Male', 'No'),
 (1390, 'Life Sciences', 39, 'Male', 'No'),
 (1392, 'Life Sciences', 41, 'Female', 'No'),
 (1394, 'Life Sciences', 37, 'Male', 'No'),
 (1395, 'Life Sciences', 33, 'Male', 'No'),
 (1397, 'Life Sciences', 39, 'Male', 'No'),
 (1399, 'Life Sciences', 25, 'Male', None),
 (1405, 'Life Sciences', 27, 'Female', None),
 (1412, 'Life Sciences', 35, 'Male', None),
 (1420, 'Life Sciences', 49, 'Male', None),
 (1427, 'Life Sciences', 31, 'Female', None),
 (1430, 'Life Sciences', 31, 'Female', None),
 (1433, 'Life Sciences', 31, 'Female', None),
 (1434, 'Life Sciences', 27, 'Male', None),
 (1435, 'Life Sciences', 36, 'Male', None),
 (1439, 'Life Sciences', 25, 'Male', None),
 (1441, 'Life Sciences', 56, 'Female', None),
 (1447, 'Life Sciences', 34, 'Female', None),
 (1453, 'Life Sciences', 31, 'Male', None),
 (1458, 'Life Sciences', 39, 'Female', None),
 (1459, 'Life Sciences', 31, 'Female', None),
 (1464, 'Life Sciences', 31, 'Male', 'Yes'),
 (1471, 'Life Sciences', 44, 'Male', 'No'),
 (1475, 'Life Sciences', 44, 'Male', 'No'),
 (1479, 'Life Sciences', 30, 'Male', 'No'),
 (1483, 'Life Sciences', 57, 'Male', 'No'),
 (1484, 'Life Sciences', 49, 'Male', 'No'),
 (1492, 'Life Sciences', 35, 'Male', 'No'),
 (1495, 'Life Sciences', 24, 'Female', 'No'),
 (1497, 'Life Sciences', 29, 'Male', 'No'),
 (1499, 'Life Sciences', 30, 'Male', 'No'),
 (1501, 'Life Sciences', 55, 'Male', 'No'),
 (1506, 'Life Sciences', 28, 'Male', 'No'),
 (1507, 'Life Sciences', 28, 'Male', 'No'),
 (1513, 'Life Sciences', 29, 'Female', 'No'),
 (1514, 'Life Sciences', 28, 'Male', 'No'),
 (1515, 'Life Sciences', 33, 'Male', 'No'),
 (1523, 'Life Sciences', 44, 'Male', 'No'),
 (1525, 'Life Sciences', 39, 'Female', 'No'),
 (1527, 'Life Sciences', 46, 'Female', 'No'),
 (1529, 'Life Sciences', 35, 'Female', 'No'),
 (1533, 'Life Sciences', 23, 'Male', 'No'),
 (1534, 'Life Sciences', 40, 'Male', 'Yes'),

In [69]:
cur.execute("""CREATE TABLE field
            (EmployeeNumber INTEGER,
            EducationField TEXT,
            Age INTEGER, Gender TEXT,
            Attrition TEXT)""")
cur.executemany("INSERT INTO field VALUES(?,?,?,?,?)",list(field.itertuples(index=False, name=None)))

In [70]:
field

     EmployeeNumber EducationField  Age  Gender Attrition
0                 1  Life Sciences   41  Female       Yes
1                 2  Life Sciences   49    Male        No
2                 5  Life Sciences   33  Female        No
3                 8  Life Sciences   32    Male        No
4                11  Life Sciences   30    Male        No
..              ...            ...  ...     ...       ...
601            2046  Life Sciences   45  Female      None
602            2048  Life Sciences   40    Male      None
603            2049  Life Sciences   35    Male      None
604            2052  Life Sciences   35  Female      None
605            2064  Life Sciences   27    Male        No

[606 rows x 5 columns]

In [44]:
cur.execute("PRAGMA table_info(sales)")
res.fetchall()

[(0, 'EmployeeNumber', '', 0, None, 0),
 (1, 'Department', '', 0, None, 0),
 (2, 'Age', '', 0, None, 0),
 (3, 'Gender', '', 0, None, 0),
 (4, 'Attrition', '', 0, None, 0)]

In [45]:
cur.execute("PRAGMA table_info(employee)").fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Age', 'INTEGER', 0, None, 0),
 (2, 'Attrition', 'TEXT', 0, None, 0),
 (3, 'Department', 'TEXT', 0, None, 0),
 (4, 'DistanceFromHome', 'INTEGER', 0, None, 0),
 (5, 'Education', 'INTEGER', 0, None, 0),
 (6, 'EducationField', 'TEXT', 0, None, 0),
 (7, 'EmployeeCount', 'INTEGER', 0, None, 0),
 (8, 'EmployeeNumber', 'INTEGER', 0, None, 0),
 (9, 'Gender', 'TEXT', 0, None, 0),
 (10, 'HourlyRate', 'INTEGER', 0, None, 0),
 (11, 'JobInvolvement', 'INTEGER', 0, None, 0),
 (12, 'JobLevel', 'INTEGER', 0, None, 0),
 (13, 'JobRole', 'TEXT', 0, None, 0),
 (14, 'JobSatisfaction', 'INTEGER', 0, None, 0),
 (15, 'MaritalStatus', 'TEXT', 0, None, 0),
 (16, 'MonthlyIncome', 'REAL', 0, None, 0),
 (17, 'NumCompaniesWorked', 'INTEGER', 0, None, 0),
 (18, 'OverTime', 'TEXT', 0, None, 0),
 (19, 'PerformanceRating', 'INTEGER', 0, None, 0),
 (20, 'StockOptionLevel', 'INTEGER', 0, None, 0),
 (21, 'TotalWorkingYears', 'INTEGER', 0, None, 0),
 (22, 'TrainingTimesLastYear', 'INTEGER', 0, None, 0),
 (23, 'WorkLifeBalance', 'INTEGER', 0, None, 0),
 (24, 'YearsAtCompany', 'INTEGER', 0, None, 0),
 (25, 'YearsInCurrentRole', 'INTEGER', 0, None, 0),
 (26, 'YearsSinceLastPromotion', 'INTEGER', 0, None, 0),
 (27, 'YearsWithCurrManager', 'INTEGER', 0, None, 0)]

In [71]:
res = cur.execute("""
                SELECT s.*, f.EducationField
                FROM sales s
                INNER JOIN field f
                ON s.EmployeeNumber = f.EmployeeNumber
                  """)
res.fetchall() # 4

[(1, 'Sales', 41, 'Female', 'Yes', 'Life Sciences'),
 (23, 'Sales', 53, 'Female', 'No', 'Life Sciences'),
 (27, 'Sales', 36, 'Male', 'Yes', 'Life Sciences'),
 (52, 'Sales', 33, 'Female', 'No', 'Life Sciences'),
 (56, 'Sales', 27, 'Male', 'No', 'Life Sciences'),
 (74, 'Sales', 35, 'Male', 'No', 'Life Sciences'),
 (81, 'Sales', 59, 'Female', 'No', 'Life Sciences'),
 (91, 'Sales', 59, 'Female', 'No', 'Life Sciences'),
 (106, 'Sales', 55, 'Male', 'No', 'Life Sciences'),
 (152, 'Sales', 37, 'Male', 'No', 'Life Sciences'),
 (158, 'Sales', 43, 'Male', 'No', 'Life Sciences'),
 (163, 'Sales', 31, 'Male', 'Yes', 'Life Sciences'),
 (175, 'Sales', 31, 'Female', 'Yes', 'Life Sciences'),
 (176, 'Sales', 41, 'Male', 'No', 'Life Sciences'),
 (182, 'Sales', 39, 'Female', 'No', 'Life Sciences'),
 (183, 'Sales', 25, 'Male', 'No', 'Life Sciences'),
 (228, 'Sales', 30, 'Female', 'No', 'Life Sciences'),
 (230, 'Sales', 38, 'Female', 'No', 'Life Sciences'),
 (240, 'Sales', 45, 'Female', 'No', 'Life Sciences'),
 (293, 'Sales', 27, 'Female', 'No', 'Life Sciences'),
 (298, 'Sales', 41, 'Female', 'No', 'Life Sciences'),
 (307, 'Sales', 38, 'Male', 'No', 'Life Sciences'),
 (329, 'Sales', 52, 'Male', 'No', 'Life Sciences'),
 (330, 'Sales', 32, 'Female', 'No', 'Life Sciences'),
 (361, 'Sales', 38, 'Male', 'No', 'Life Sciences'),
 (387, 'Sales', 42, 'Male', 'No', 'Life Sciences'),
 (388, 'Sales', 29, 'Male', 'No', 'Life Sciences'),
 (410, 'Sales', 41, 'Male', 'No', 'Life Sciences'),
 (420, 'Sales', 32, 'Male', 'No', 'Life Sciences'),
 (437, 'Sales', 27, 'Male', 'No', 'Life Sciences'),
 (469, 'Sales', 29, 'Male', 'No', 'Life Sciences'),
 (476, 'Sales', 26, 'Male', 'No', 'Life Sciences'),
 (494, 'Sales', 21, 'Female', None, 'Life Sciences'),
 (498, 'Sales', 28, 'Male', None, 'Life Sciences'),
 (500, 'Sales', 51, 'Female', None, 'Life Sciences'),
 (527, 'Sales', 25, 'Female', 'No', 'Life Sciences'),
 (532, 'Sales', 56, 'Female', 'No', 'Life Sciences'),
 (558, 'Sales', 40, 'Female', 'No', 'Life Sciences'),
 (597, 'Sales', 55, 'Female', 'No', 'Life Sciences'),
 (599, 'Sales', 41, 'Male', 'No', 'Life Sciences'),
 (604, 'Sales', 31, 'Male', 'No', 'Life Sciences'),
 (613, 'Sales', 31, 'Male', 'No', 'Life Sciences'),
 (621, 'Sales', 34, 'Male', 'No', 'Life Sciences'),
 (625, 'Sales', 41, 'Female', 'No', 'Life Sciences'),
 (648, 'Sales', 30, 'Male', 'Yes', 'Life Sciences'),
 (684, 'Sales', 45, 'Female', None, 'Life Sciences'),
 (707, 'Sales', 25, 'Male', None, 'Life Sciences'),
 (720, 'Sales', 24, 'Female', None, 'Life Sciences'),
 (729, 'Sales', 40, 'Male', None, 'Life Sciences'),
 (749, 'Sales', 29, 'Male', 'No', 'Life Sciences'),
 (754, 'Sales', 43, 'Male', 'No', 'Life Sciences'),
 (785, 'Sales', 47, 'Female', 'Yes', 'Life Sciences'),
 (789, 'Sales', 36, 'Male', 'No', 'Life Sciences'),
 (805, 'Sales', 35, 'Female', 'No', 'Life Sciences'),
 (808, 'Sales', 34, 'Female', 'No', 'Life Sciences'),
 (857, 'Sales', 36, 'Male', 'No', 'Life Sciences'),
 (859, 'Sales', 32, 'Male', 'No', 'Life Sciences'),
 (889, 'Sales', 32, 'Male', 'No', 'Life Sciences'),
 (925, 'Sales', 47, 'Female', 'No', 'Life Sciences'),
 (941, 'Sales', 31, 'Male', 'No', 'Life Sciences'),
 (967, 'Sales', 36, 'Male', 'Yes', 'Life Sciences'),
 (970, 'Sales', 37, 'Male', 'Yes', 'Life Sciences'),
 (984, 'Sales', 35, 'Male', 'No', 'Life Sciences'),
 (985, 'Sales', 39, 'Male', 'No', 'Life Sciences'),
 (986, 'Sales', 40, 'Female', 'Yes', 'Life Sciences'),
 (992, 'Sales', 33, 'Male', 'No', 'Life Sciences'),
 (1003, 'Sales', 47, 'Female', 'No', 'Life Sciences'),
 (1036, 'Sales', 38, 'Male', 'No', 'Life Sciences'),
 (1040, 'Sales', 50, 'Female', 'No', 'Life Sciences'),
 (1044, 'Sales', 33, 'Female', 'No', 'Life Sciences'),
 (1045, 'Sales', 45, 'Female', 'No', 'Life Sciences'),
 (1055, 'Sales', 34, 'Female', 'No', 'Life Sciences'),
 (1070, 'Sales', 54, 'Female', None, 'Life Sciences'),
 (1105, 'Sales', 37, 'Female', None, 'Life Sciences'),
 (1114, 'Sales', 33, 'Female', 'No', 'Life Sciences'),
 (1117, 'Sales', 45, 'Female', 'No', 'Life Sciences'),
 (1135, 'Sales', 31, 'Male', 'No', 'Life Sciences'),
 (1163, 'Sales', 34, 'Female', 'No', 'Life Sciences'),
 (1165, 'Sales', 29, 'Female', 'Yes', 'Life Sciences'),
 (1167, 'Sales', 42, 'Male', 'Yes', 'Life Sciences'),
 (1190, 'Sales', 32, 'Female', 'No', 'Life Sciences'),
 (1211, 'Sales', 30, 'Male', 'No', 'Life Sciences'),
 (1218, 'Sales', 35, 'Male', 'No', 'Life Sciences'),
 (1240, 'Sales', 25, 'Male', 'No', 'Life Sciences'),
 (1254, 'Sales', 59, 'Female', 'No', 'Life Sciences'),
 (1273, 'Sales', 25, 'Male', 'Yes', 'Life Sciences'),
 (1282, 'Sales', 51, 'Male', 'No', 'Life Sciences'),
 (1319, 'Sales', 52, 'Male', 'Yes', 'Life Sciences'),
 (1324, 'Sales', 31, 'Female', 'No', 'Life Sciences'),
 (1331, 'Sales', 31, 'Female', 'Yes', 'Life Sciences'),
 (1355, 'Sales', 38, 'Female', 'No', 'Life Sciences'),
 (1371, 'Sales', 27, 'Male', 'No', 'Life Sciences'),
 (1379, 'Sales', 31, 'Female', 'Yes', 'Life Sciences'),
 (1387, 'Sales', 28, 'Male', 'No', 'Life Sciences'),
 (1390, 'Sales', 39, 'Male', 'No', 'Life Sciences'),
 (1395, 'Sales', 33, 'Male', 'No', 'Life Sciences'),
 (1399, 'Sales', 25, 'Male', None, 'Life Sciences'),
 (1427, 'Sales', 31, 'Female', None, 'Life Sciences'),
 (1439, 'Sales', 25, 'Male', None, 'Life Sciences'),
 (1453, 'Sales', 31, 'Male', None, 'Life Sciences'),
 (1479, 'Sales', 30, 'Male', 'No', 'Life Sciences'),
 (1492, 'Sales', 35, 'Male', 'No', 'Life Sciences'),
 (1495, 'Sales', 24, 'Female', 'No', 'Life Sciences'),
 (1497, 'Sales', 29, 'Male', 'No', 'Life Sciences'),
 (1507, 'Sales', 28, 'Male', 'No', 'Life Sciences'),
 (1527, 'Sales', 46, 'Female', 'No', 'Life Sciences'),
 (1554, 'Sales', 35, 'Female', 'No', 'Life Sciences'),
 (1556, 'Sales', 36, 'Male', 'No', 'Life Sciences'),
 (1557, 'Sales', 48, 'Female', 'No', 'Life Sciences'),
 (1560, 'Sales', 33, 'Male', 'No', 'Life Sciences'),
 (1562, 'Sales', 30, 'Male', 'Yes', 'Life Sciences'),
 (1582, 'Sales', 38, 'Male', 'No', 'Life Sciences'),
 (1583, 'Sales', 38, 'Female', 'No', 'Life Sciences'),
 (1585, 'Sales', 36, 'Female', 'No', 'Life Sciences'),
 (1598, 'Sales', 40, 'Female', 'No', 'Life Sciences'),
 (1602, 'Sales', 46, 'Male', 'No', 'Life Sciences'),
 (1673, 'Sales', 31, 'Female', 'No', 'Life Sciences'),
 (1676, 'Sales', 47, 'Female', 'No', 'Life Sciences'),
 (1678, 'Sales', 41, 'Male', 'No', 'Life Sciences'),
 (1680, 'Sales', 20, 'Male', 'No', 'Life Sciences'),
 (1681, 'Sales', 33, 'Female', 'No', 'Life Sciences'),
 (1702, 'Sales', 23, 'Male', 'Yes', 'Life Sciences'),
 (1710, 'Sales', 36, 'Female', 'No', 'Life Sciences'),
 (1716, 'Sales', 47, 'Male', 'Yes', 'Life Sciences'),
 (1732, 'Sales', 46, 'Male', 'No', 'Life Sciences'),
 (1734, 'Sales', 32, 'Male', 'Yes', 'Life Sciences'),
 (1739, 'Sales', 32, 'Male', 'No', 'Life Sciences'),
 (1758, 'Sales', 33, 'Female', 'Yes', 'Life Sciences'),
 (1774, 'Sales', 34, 'Male', None, 'Life Sciences'),
 (1779, 'Sales', 34, 'Female', None, 'Life Sciences'),
 (1797, 'Sales', 35, 'Male', None, 'Life Sciences'),
 (1801, 'Sales', 46, 'Male', None, 'Life Sciences'),
 (1812, 'Sales', 39, 'Male', None, 'Life Sciences'),
 (1845, 'Sales', 45, 'Female', None, 'Life Sciences'),
 (1849, 'Sales', 43, 'Male', None, 'Life Sciences'),
 (1869, 'Sales', 46, 'Female', None, 'Life Sciences'),
 (1882, 'Sales', 34, 'Male', None, 'Life Sciences'),
 (1927, 'Sales', 28, 'Male', 'No', 'Life Sciences'),
 (1929, 'Sales', 39, 'Female', 'No', 'Life Sciences'),
 (1938, 'Sales', 58, 'Female', 'No', 'Life Sciences'),
 (1961, 'Sales', 38, 'Male', 'No', 'Life Sciences'),
 (1962, 'Sales', 35, 'Female', 'No', 'Life Sciences'),
 (1968, 'Sales', 53, 'Male', 'Yes', 'Life Sciences'),
 (1995, 'Sales', 38, 'Male', 'No', 'Life Sciences'),
 (1996, 'Sales', 31, 'Male', 'No', 'Life Sciences'),
 (2019, 'Sales', 52, 'Male', 'No', 'Life Sciences'),
 (2037, 'Sales', 41, 'Male', None, 'Life Sciences'),
 (2041, 'Sales', 38, 'Female', None, 'Life Sciences'),
 (2044, 'Sales', 50, 'Male', None, 'Life Sciences'),
 (2046, 'Sales', 45, 'Female', None, 'Life Sciences')]