In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [ ]:
# part 2 having the API key that was generated the movie database website
api_key = "e529ea32c8bd67623d3ddc7ab3210622"
api_key_rd_acess = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlNTI5ZWEzMmM4YmQ2NzYyM2QzZGRjN2FiMzIxMDYyMiIsInN1YiI6IjY2NDJiYzgxOTlkNjMxYjgzYjcwZGQ0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.wD5k2WivJaq0-1NIt9g-5yQAEVlOffRZtNmiMU62_Zs"
base_movie_url = f"https://api.themoviedb.org/3/search/movie?query=star&wars&include_adult=false&language=en-US&page=1&api_key={api_key}"
base_movie_url

In [ ]:
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlOGZjZTZiZjQ1MDAyYmJkODhkNjEzYjNmNGNjNzVhOCIsInN1YiI6IjY2NDJiYzgxOTlkNjMxYjgzYjcwZGQ0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.0veG11YXauMUBYgm5ljnQ4RDumpBthIl0iMi63LKyhI"
}

In [ ]:
star_wars_data = requests.get(base_movie_url, headers)
star_wars_data.status_code

In [ ]:
star_wars_data.content

In [ ]:
# part 3 w/out printing all pages
data = star_wars_data.json()
data

In [ ]:
# part 3
df_list = []

# Loop through all pages
for page_number in range(1, 200):
    # Set the page number in the API request URL
    base_movie_url = f"https://api.themoviedb.org/3/search/movie?query=star&wars&include_adult=false&language=en-US&page={page_number}&api_key={api_key}"
    
    # Make the API request
    star_wars_data = requests.get(base_movie_url, headers)
    
    # Check if the request was successful
    if star_wars_data.status_code == 200:
        # Convert the JSON data to a Python dictionary
        data = star_wars_data.json()
        
        # Extract the relevant data from the dictionary
        movies = data["results"]
        
        # Create a Pandas dataframe from the movie data
        df = pd.DataFrame(movies)
        
        # Append the dataframe to the list
        df_list.append(df)

df = pd.concat(df_list)

print(df)

In [ ]:
# part 4
# Extracting movies
movies = data["results"]


df = pd.DataFrame(movies)

# sorting throu popularity
df_sorted = df.sort_values(by='popularity', ascending=False)

# Print the sorted DataFrame
print(df_sorted)

In [ ]:
import tmdbsimple as tmdb

In [ ]:
tmdb.api_key = "e529ea32c8bd67623d3ddc7ab3210622"

In [ ]:
tmdb.requests_timeout = 10

In [ ]:
tmdb.REQUESTS_SESSION = requests.Session()

In [ ]:
search = tmdb.Search()
response = search.movie(query= 'star wars')
star_wars = []

for s in search.results:
  star_wars.append(s['title'])
  star_wars.append(s['id'])
  star_wars.append(s['release_date'])
  star_wars.append(s['popularity'])

In [ ]:
search = tmdb.Search()
response = search.movie(query = 'star wars')
response